<div style="height:50px;"></div>
<div class="container-fluid  container-home-custom">


  <div class="jumbotron nerd-banner">
    <div class="row">
      <div class="col-md-12 title text-center">
        <h1 style="font-size:100px; font-family: 'Bangers', cursive;">NerdAlert, <span class="subtitle" style="font-size:70px;">when your devices hurt</span></h1>
        <h2><span class="subtitle" style="font-size:35px;">Find digital superheroes that can fix any problem you have</span></h2>
      </div>
    </div>
    <div class="row"><br><br><br><br><br><br><br><br><br><br>
      <div class="col-md-2"></div>
      <div style="text-align: center;" class="col-md-8 center-form">
        <div style="background-color:rgba(255,255,255,0.8); border-radius:50px;" class="form-group form-inline"><br>
          <h2 class="title-box label-text">Where, when and what do you need?</h2><br>

          <div class="form-group" style="display:inline-block;">
            <input type="text" id="search" class="form-control input-lg-custom" placeholder="Where do you need it?"><br><br>

            <div style="display:inline-block;">
              <label class="label-text"><input value="Computer" type="checkbox"
              (click)="$event.target.checked? addFilters($event) : removeFilters($event)">&nbsp;&nbsp;&nbsp;<img class="icon-custom" src="http://localhost:3000/icons/computer.png" alt="computer">&nbsp;&nbsp;&nbsp;
               Computer
              </label>&nbsp;&nbsp;&nbsp;
            </div>
            <div style="display:inline-block;">
              <label class="label-text"><input value="Internet" type="checkbox"
              (click)="$event.target.checked? addFilters($event) : removeFilters($event)">&nbsp;&nbsp;&nbsp;<img class="icon-custom" src="http://localhost:3000/icons/internet.png" alt="computer">&nbsp;&nbsp;&nbsp;

               Internet
              </label>&nbsp;&nbsp;&nbsp;
            </div>
            <div style="display:inline-block;">

              <label class="label-text"><input value="Phone" type="checkbox"
              (click)="$event.target.checked? addFilters($event) : removeFilters($event)">&nbsp;&nbsp;&nbsp;<img class="icon-custom" src="http://localhost:3000/icons/phone.png" alt="computer">&nbsp;&nbsp;&nbsp;

               Phone
              </label>&nbsp;&nbsp;&nbsp;
            </div>
            <div style="display:inline-block;">

              <label class="label-text"><input value="TV" type="checkbox"
              (click)="$event.target.checked? addFilters($event) : removeFilters($event)">&nbsp;&nbsp;&nbsp;<img class="icon-custom" src="http://localhost:3000/icons/tv.png" alt="computer">&nbsp;&nbsp;&nbsp;

                TV
              </label>
            </div>
            <div style="display:inline-block;">

              <label class="label-text">&nbsp;&nbsp;&nbsp;
                <input value="Other" type="checkbox"
                (click)="$event.target.checked? addFilters($event) : removeFilters($event)">&nbsp;&nbsp;&nbsp; Other
              </label>

            </div><br><br>
            <button class="btn btn-primary btn-custom" (click)="goToSearch()">Search!</button><br><br>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>

    </div>
  </div>

  <div class="row"><br>
    <div class="col-md-12 back-grey">
      <h2 class="text-center"><img src="http://localhost:3000/icons/nerd-alert-logo.png" alt=""></h2>

    </div>
  </div>
</div>

<div class="content-fluid back-grey">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
          <div class="col-md-4">

            <h3 class="text-center">Set up your profile</h3>
            <hr>
            <p class="text-justify">Sign up on our platform and set up your profile. Register as a nerd and include everything you are good at fixing. Users will look for people with certain skills so better write everything you are good at and be ready to help them.</p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center" >Find people around you</h3>
            <hr>
              <p class="text-justify">Check who is around your location in our map. The map will show you users that fits your search criteria. You could also check the reviews that other users gave them. Don't worry, you will findsomebody that will know how to help you!</p>
          </div>
          <div class="col-md-4">

            <h3 class="text-center">Book the service you need</h3>
            <hr>
            <p class="text-justify">Once you find somebody with the skills needed for your problem, you are one click away from booking him! Set the date and the hours and let him know all the details about your problem. He will receive your message and after you both agree on days and price, your problem will solved!</p>
          </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>

<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vel, assumenda rerum voluptatem esse tenetur placeat aliquam iusto nihil ratione praesentium libero est vitae qui. Laborum repellat laudantium impedit repudiandae.
                </div>
                <div class="col-md-3">

                  <h6>REVERA</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
