.img-helper-custom{
  width: 150px;
  height: auto;
}

.container-custom{
  width: 60%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 30px;
}

.icon-custom{
  width: 35px;
  height: auto;
}
